<style>
.timer {
    background: -webkit-linear-gradient(left, black 50%, green 50%);
    border-radius: 100%;
    height: var(--size);
    width: var(--size);
    position: relative;
    -webkit-animation: time calc(var(--duration) * 1s) steps(1000, start) 1;
}
.mask {
    border-radius: 100% 0 0 100% / 50% 0 0 50%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    -webkit-animation: mask calc(var(--duration) * 1s) steps(500, start) 1;
    -webkit-transform-origin: 100% 50%;
}
@-webkit-keyframes time {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes mask {
    0% {
        background: green;
        -webkit-transform: rotate(0deg);
    }
    50% {
        background: green;
        -webkit-transform: rotate(-180deg);
    }
    50.01% {
        background: black;
        -webkit-transform: rotate(0deg);
    }
    100% {
        background: black;
        -webkit-transform: rotate(-180deg);
    }
}
</style>

<body>
<div class="timer" style="--duration: 5;--size: 100;">
    <div class="mask"></div>
</div>
<script>
</script>
</body>